@font-face {
    font-family:'One';
    src:url('../font/one.ttf');
}

/*Global*/

* {
    padding: 0;
    margin: 0;
}

h1, h2 {
    font-family: One;
}

.introduction {
    font-size:2vw;
    text-align: center;
    padding-top: 5vw;
    padding-bottom: 2vw;
}

#agenda {
    margin-left: auto;
    margin-right: auto;
    margin-top: 2%;
    margin-bottom: 2%;
    width: 60%;
    height: 60%;
    text-align: center;
}

/* footer */

.crédit {
   text-align: center;
   margin-bottom: 2%;
   font-size: 0.8vw;
}

.instagram {
    margin-bottom: 1%;
    margin-right: 1%;
    float:right;
}

.facebook {
    margin-bottom: 1%;
    margin-right: 1%;
    float:right;
}

#separation {
    margin-left: 15%;
    margin-bottom:2%;
    margin-top: 2%;
}

/* CV */
.Presentation {
   text-align:center;
   margin-top: 2%;
}

.Biographie {
   margin-top: 5%;
   text-align: center;
   font-size: 1.5vw;
}
.Compétence {
   margin-top: 5%;
   text-align: center;
   font-size: 1.5vw;
}
.imgCompétence {
   display: flex;
   justify-content:space-evenly;
   margin-right: 2%;
}
.Personnalité {
   margin-top: 5%;
   text-align: center;
   font-size: 1.5vw;   
}

.BrookLogo {
    margin-right: 15%;
    margin-top: 5%;
    margin-bottom: 15%;
}

#bateau {
   margin-left: 25%;
   margin-top: 5%; 
}


/*Formulaire*/

#contact {
   margin-top: 2%;
    padding-right: 15vw;
    padding-left: 15vw;
}

.Contact{
    display: flex;
    justify-content:flex-start;
    margin-left: 5%;
    margin-top: 10%;
    font-size: 1.5vw;
}

#button {
    display: flex;
    justify-content: center;
    margin-bottom: 3%;
    text-align: center
}

#fond {
   background-color: gray;
   height: 50%;
   width:50%;
}

#valider {
   text-align: center;
   margin-bottom: 1%;
}
#messages {
    text-align: center;
    margin-top: 6%;
    margin-bottom: 6%;
}

/* CV chopper */
h1, h2 {
    font-family: One;
    text-align: center;
}

.presentation {
    margin-top: 2%;
}

.biographie ,
.competence,
.personnalite,
.imgCompetence{
    text-align: justify;
    font-size: 1.5vw;
    padding-left: 15vw;
    padding-right: 15vw;
    margin-top: 10vw;
}

.imgCompetence {
    display: flex;
    justify-content:space-evenly;
    margin-right: 2%;
}

.citation{
    display: flex;
    justify-content:flex-start;
    margin-left: 5%;
    margin-top: 10%;
    font-size: 1.5vw;
}


/*mobile*/
@media screen and (max-width: 767px)
{
    /*CV*/
   .imgCompétence {
      display: flex;
      flex-flow: wrap;
      margin-top: 3%;
    }

     h1, h2, p {
        font-size: 5vw;
    }
     /*footer*/

     footer #separation {
        display: none;
    }

    .instagram {
        margin-bottom: 1%;
        margin-left: 1%;
        float:right;
    }

    .crédit {
        display: none;
    }
}

@media screen and (max-width: 1024px)
{
    h1, h2,p {
        font-size: 3vw;
    }

    /*footer*/
    footer #separation {
       display: none;
    }

    .crédit {
       display: none;
    }
}


