@media screen and (max-width: 767px)
{
 h1, h2, p {
    font-size: 5vw;
}
 footer #separation {
    display: none;
}

.Instagram {
    margin-bottom: 1%;
    margin-left: 1%;
    float:right;
}
.crédit {
    display: none;
}
}   
@media screen and (max-width: 1024px)
{
h1, h2, p {
    font-size: 6vw;
}