@font-face {
  font-family:'onepiece';
  src:url('./font-polices/onepiece.ttf');
}

#bannertop {
  display: flex;
  align-items: center;
  width: 100%;
  height: auto;
}
#text {
  text-align: center;
  font-family: onepiece;
}

nav li {
    list-style-type: none;
}



#carte-img {
    padding-top: 100px;
    border-radius: 10px;
    height:200px;
    width: 100%;
    display: flex;
    justify-content: space-evenly;
    max-width:100%;
    
  }
  #carte-body {
    display: flex;
    justify-content: space-evenly;
  }
#musicien {
  margin-left: 10px;
}
#médecin {
  margin-inline-start: 40px;
}
#charpentier{
  margin-inline-start: 25px;
  
  
}
@media screen and(max-width: 480px){

}