

@font-face {
   font-family:'One';
   src:url('./font/one.ttf');
}
@font-face {
   font-family:'One';
   src:url('./font/one.ttf');
   font-weight:bold;
}
@font-face {
   font-family:'One';
   src:url('./font/one.ttf');
   font-style:italic;
}
#bannertop {
  display: flex;
  align-items: center;
  width: 100%;
  height: auto;
}
#text {
  text-align: center;
  font-family:One;
  font-size: 35px;
}


nav li  {
    display: inline;
    list-style-type: none;
    margin-left: 5px;
}


nav li:hover {
    text-transform: uppercase ;
}


#introduction {
  text-align: start;
  font-family: One;
  font-size:20px;
  text-align: center;
  padding-top: 50px;
}

#carte-img {
    border-radius: 10px;
    height:200px;
    width: 100%;
    display: flex;
    justify-content: space-evenly;
    max-width:100%;
    
    
  }
  #carte-body {
    
    display: flex;
    justify-content: space-evenly;
    font-family:One;
    font-size: 20px;
  }
#musicien {
  margin-left: 10px;
}
#médecin {
  margin-inline-start: 40px;
}
#charpentier{
  margin-inline-start: 25px;
}

footer img {
    float : right;
    margin-left: 10px;
}


@media screen and(max-width: 480px){

}