

#bannertop {
  display: flex;
  align-items: center;
  width: 100%;
  height: auto;
}
#text {
  text-align: center;
}

nav li {
    list-style-type: none;
}



#carte-img {
    padding-top: 100px;
    border-radius: 10px;
    height:200px;
    width: 100%;
    display: flex;
    justify-content: space-evenly;
    max-width:100%;
    
  }
  #carte-body {
    display: flex;
    justify-content: space-evenly;
    
  }
#musicien,#médecin,#charpentier { 
  height:200px;
  width: 100%;
  display: flex;
  text-align: center;
  margin-left: 100px;
  
}
@media screen and(max-width: 480px){

}