 @font-face {
     font-family:'One';
     src:url('./font/one.ttf');
  }
  @font-face {
     font-family:'One';
     src:url('./font/one.ttf');
     font-weight:bold;
  }
  @font-face {
     font-family:'One';
     src:url('./font/one.ttf');
     font-style:italic;
  }
  
  * {
      padding: 0;
      margin: 0;
  }
  body {
      background-color: #dbdbdb;
      background-image: url("https://www.transparenttextures.com/patterns/wavecut.png");
  }
  
  nav {
      height: 4vw;
      padding-top: 2vw;
      font-size: 2vw;
      margin-left: 1vw;
  }
  nav li  {
      display: inline;
      list-style-type: none;
      color: black;
      padding-right: 1.5rem;
  }
  
  nav li a {
      text-decoration: none;
  }
  
  nav li:hover {
      font-variant: small-caps ;
  }
  
  nav li a:visited {
      color: black;
      text-decoration: none;
  }
  
  h1, h2, p {
      font-family: One;
  }
  
  .banner {
      background: url("./assets/banner31.jpg");
      background-repeat: no-repeat;
      width: 100%;
      height: 30vw;
      font-size: 3vw;
      text-align:center;
  }
  
  #introduction {
      font-size:2vw;
      text-align: center;
      padding-top: 5vw;
      padding-bottom: 2vw;
  }
  footer p {
    font-family: Arial;
    font-size: 1vw;
}
footer img {
    float: right;
    margin-left: 10px;
    margin-bottom: 10px;
}

#separation {
    margin-left: 15%;
    margin-bottom: 2%;
    margin-top: 2%;
} 
  @media screen and (min-width: 1024px) {
      .container {
          display: flex;
          width: 100%;
          padding-bottom: 10vw;
          flex-flow: row nowrap;
      }
  
      #items {
          height:200px;
          width: 100%;
          justify-content: space-evenly;
          text-align: center;
          font-size: 2vw;
      }
  }
  
  @media screen and (min-width: 728px) {
      .container {
          display: flex;
          width: 100%;
          padding-bottom: 10vw;
          flex-flow: row nowrap;
      }
  
      #items {
          height: 200px;
          width: 100%;
          justify-content: space-evenly;
          text-align: center;
          font-size: 2vw;
      }
    }
  
      footer img {
          float : right;
          margin-left: 10px;
          margin-bottom: 10px;
      }
  
      #separation {
          margin-left: 15%;
          margin-bottom: 2%;
          margin-top: 2%;
      }
  
    }
  
  @media screen and (max-width: 728px){
      .container  {
          display: flex;    
      }
  
      #items {
        justify-content: center;
          flex-flow: column wrap;
      }
      footer #credit {
        display: none;
     }
     footer #separation {
        display: none;
    }

    footer img {
        float: right;
        margin-top: 10vw;
        width: 5vw;
    }
}