@font-face {
    font-family:'One';
    src:url('../font/one.ttf');
}



/* footer */

.crédit {
   text-align: center;
   margin-bottom: 2%;
   font-size: 0.8vw;
}

.instagramFR {
    margin-bottom: 1%;
    margin-right: 1%;
    float:right;
}


/* Curriculum vitae */
.Presentation {
   text-align:center;
   margin-top: 2%;
}

.Biographie {
   margin-top: 5%;
   text-align: center;
   font-size: 1.5vw;
}
.Compétence {
   margin-top: 5%;
   text-align: center;
   font-size: 1.5vw;
}
.imgCompétence {
   display: flex;
   justify-content:space-evenly;
   margin-right: 2%;
}
.Personnalité {
   margin-top: 5%;
   text-align: center;
   font-size: 1.5vw;   
}


 

/*Formulaire de Contact*/
#valider {
   text-align: center;
    margin-bottom: 1%;
}

#contact {
   margin-top: 2%;
    padding-right: 15vw;
    padding-left: 15vw;
}

.Contact{
    display: flex;
    justify-content:flex-start;
    margin-left: 5%;
    margin-top: 10%;
    font-size: 1.5vw;
}

#button {
   display: flex;
   justify-content: center;
   margin-bottom: 3%;
}

#fond {
   background-color: gray;
   height: 50%;
   width:50%;
}

#valider {
   text-align: center;
   margin-bottom: 1%;
}
#messages {
    text-align: center;
    margin-top: 6%;
    margin-bottom: 6%;
}
#message {
   text-align: center;
   margin-top: 6%;
   margin-bottom: 6%;
}

/*version mobile*/
@media screen and (max-width: 767px)
{
    /*Currilicum Vitae */
   .imgCompétence {
      display: flex;
      flex-flow: wrap;
      margin-top: 3%;
    }


     h1, h2, p {
        font-size: 5vw;
    }
     /*Footer*/

     footer #separation {
      display: none;
  }

  .instagramFR {
      margin-bottom: 1%;
      margin-left: 1%;
      float:right;
  }

  .crédit {
      display: none;
      
  }
}

@media screen and (max-width: 1024px)
{
    h1, h2,p {
        font-size: 3vw;
    }

    /*Footer*/
    footer #separation {
       display: none;
    }

    .crédit {
       display: none;
    }
}
